/build/
/out/
/bin/
/dist/

/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/compile_commands.json
/Testing/
/CTestTestfile.cmake
/.cmake/

*.obj
*.o
*.a
*.lib
*.dll
*.exe
*.exp
*.ilk
*.pdb
*.idb
*.manifest

*.log
*.tmp
*.temp
*.cache

.vs/
.vscode/
.idea/

Thumbs.db
Desktop.ini
